{
  "presets": ["flow", ["env", {
    "targets": {
      // todo: make sure that we publish with modules: false
      "node": "current"
    }
  }]],
  // object-rest-spread should not be needed but there's a jest bug (Sep 2017):
  // https://github.com/facebook/jest/issues/4248
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
