**dist
**.openapi-generator*

.DS_Store
.env

yarn-error.log
lerna-debug.log

.yarn/*
!.yarn/releases
!.yarn/plugins

node_modules

.nx
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
