language: node_js
node_js:
  - stable
script: npm run test-ci
branches:
  only:
    - master
    - develop
# force container based infra
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/#Routing-your-build-to-container-based-infrastructure
sudo: false
cache: yarn
env:
  global:
    # saucelabs credentials
    # subaccount of "opensauce-algolia"
    - SAUCE_USERNAME=algoliasearch-js
    - secure: "oKl1RMuEO9bYoKevbFeFX72M2eV+DIJG/9UGMP4oLb3z5B8T5xAlQSEt8Lp0Zms6qqA+4hAQhZTKXDtdpx7NK+SuqYiv4oR9hdiJBbrRXIRuY86R2T/opO/RlBETL+7Y2R1AGM/kZzyiZSFqN9slGVzWziBtLJjJ4ncoceE8izs="

    # INTEGRATION_TEST_APPID
    - secure: "LADQT7mA3danSsZ6pd2io1G+4EXfdnd0NS3BuzLHcGgl5ehwbkUnZtD8JUHai4ZtawwsxRv3p2qgBbl5UVnFeWAyr7pSGVcMeB6UtQG1JwTnmbHri131yOc/EwEYlEHhF/ecC7V5NTa1VWqSi7r4Jj8KyIeaorvRX8C7AAv8saU="
    # INTEGRATION_TEST_API_KEY
    - secure: "btDyGZTDN633cISK5C0bkjTKIc+VZRupkmzCIuyOepe27mVzJSDGYFXYbFpA/vP6OVWNyyGhBIhD+mfdXJumfRTjK5J3aMRN0hN62SJJj0OJT/BwW6Yrk79C/N48ag/Yj5Xqd6dD6Z5sR/NzHZsTZwUmdYMcQ+gZSgrup6fzpMQ="

    # parse test credentials
    - secure: "KJ5+bYlg0MCX8tAQM6IRBZi43SRPgxj6VSxEyvdQn40LYShlvDIFLgKDQ+Acg5U5k0dQ3HMWsAfrJl/T/pQDmh53g14yZrDZYQeAg0gT25RYUYIY3ByrwcQUhriOqU4ivj2neVBiBJxZ4f7Scx0RBk6OTgvAU/Cc+37apDdDKRk="
    - secure: "ZJSK5Mgd/Gmew/5V5e7nd/ArVhIngB825+phWYF00/T9sKYY9P83JQGVn9Iwf/iGBI6lgabS79CwwmaetCzjQa4YxsOObmaMgho/brqlci9AilbksI3UhNVMehFt2Pr1RZQMmGKk+Uot3RKqna5fvyZdtbOw0jGef/H1oYge9HY="

    # PLACES_APPID
    - secure: "J57JGcXoxle+qm6EKaDS6V4wfHIiilBWLM6TXxdRydiwWrYxlozfJY9CxOJvtm3SAB+lenNqgQGe3xTqhB1BigrSKsLC+P4Q/T5ckZ5lR58p2K4NlUdhhtsfZ7tWlqP1QP+DY9lon1YHj7DML51zWRHivengUYLAnRmhV+NnU1M="
    # PLACES_APIKEY
    - secure: "iRRCr4v+2ljvSfcgbwlp6eEJ7LPAZy3PEO4HFw/Cvdh9Ep+gSDjTxwRKDM9SYka0Jgptz305qXe3F+HnwpEc6D6Qaj3pR7LSU3msKyNSmUbBAlKKumRyIHRc2KE4544cxdp0vH5MWLORuoHOUDP3hcWYKGhUfwEbnl1kciT9mbY="
