language: node_js
node_js:
  - stable
before_script:
  - wget https://alg.li/algolia-keys && chmod +x algolia-keys
script:
  - npm run test-ci
branches:
  only:
    - master
    - develop
# force container based infra
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/#Routing-your-build-to-container-based-infrastructure
sudo: false
cache: yarn
env:
  global:
    # saucelabs credentials
    # subaccount of "opensauce-algolia"
    - SAUCE_USERNAME=algoliasearch-js
    - secure: "oKl1RMuEO9bYoKevbFeFX72M2eV+DIJG/9UGMP4oLb3z5B8T5xAlQSEt8Lp0Zms6qqA+4hAQhZTKXDtdpx7NK+SuqYiv4oR9hdiJBbrRXIRuY86R2T/opO/RlBETL+7Y2R1AGM/kZzyiZSFqN9slGVzWziBtLJjJ4ncoceE8izs="

    # ALGOLIA_APP_ID
    - secure: "LBMlV4zAfgnUrQlaTERipq85+fhhv1GidxeWrlFmEyPEQDrhjfi4fLl/igiL0VzzTotQazSCGy2kTJ4XEciIGN7HHI+jslrw5h0LnTkuCH081UG86FdkATOEUqiy2AoWa/UZin+pwiQGMSBQ4RTUEq0yCJ45CwdCqUrNrgF+L7w="
    # ALGOLIA_API_KEY
    - secure: "UutjXmeB7bcThL7+IXyWUjzpXkvJUa1LUJiIBNwF5XhHMHNMatZmRj+sJnwgN0cOEh32Yq/0/8rhytG56JQVwJWTwJZFbZywp/oE1mKFmE6G6fQFnOsKpAV0mMxJS33n/Cuc0II6rIHKvsXHx2Fi43yyPZUL5Wf/pT7vfzhW4NU="

    # parse test credentials
    - secure: "KJ5+bYlg0MCX8tAQM6IRBZi43SRPgxj6VSxEyvdQn40LYShlvDIFLgKDQ+Acg5U5k0dQ3HMWsAfrJl/T/pQDmh53g14yZrDZYQeAg0gT25RYUYIY3ByrwcQUhriOqU4ivj2neVBiBJxZ4f7Scx0RBk6OTgvAU/Cc+37apDdDKRk="
    - secure: "ZJSK5Mgd/Gmew/5V5e7nd/ArVhIngB825+phWYF00/T9sKYY9P83JQGVn9Iwf/iGBI6lgabS79CwwmaetCzjQa4YxsOObmaMgho/brqlci9AilbksI3UhNVMehFt2Pr1RZQMmGKk+Uot3RKqna5fvyZdtbOw0jGef/H1oYge9HY="

    # PLACES_APPID
    - secure: "J57JGcXoxle+qm6EKaDS6V4wfHIiilBWLM6TXxdRydiwWrYxlozfJY9CxOJvtm3SAB+lenNqgQGe3xTqhB1BigrSKsLC+P4Q/T5ckZ5lR58p2K4NlUdhhtsfZ7tWlqP1QP+DY9lon1YHj7DML51zWRHivengUYLAnRmhV+NnU1M="
    # PLACES_APIKEY
    - secure: "iRRCr4v+2ljvSfcgbwlp6eEJ7LPAZy3PEO4HFw/Cvdh9Ep+gSDjTxwRKDM9SYka0Jgptz305qXe3F+HnwpEc6D6Qaj3pR7LSU3msKyNSmUbBAlKKumRyIHRc2KE4544cxdp0vH5MWLORuoHOUDP3hcWYKGhUfwEbnl1kciT9mbY="

    # BUNDLESIZE
    - secure: CJ1vWEhXzkpiCGq/i7LasHp1vCAdp4LkC1C1e0fUR/YR9K75hM7GGoyl2e5kxzI2rGligDDdGgaYsp+5ngnVYERMXjNLLvQYbe/8vyE/WHJ3y8k9UM+P3EwWSrqXm9OZMgsQ2+H7GNzTg2+QMGZ0z+0dKjTl/pocIcNfVG0ebCE=
