language: node_js # will use nvmrc by default
script: npm run test-ci
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.0.2
  - export PATH=$HOME/.yarn/bin:$PATH
branches:
  only:
    - master
    - feat/v4-for-real-now
sudo: false # container based infra
cache:
  yarn: true
  directories:
    - node_modules
