{{! This file will be renamed and moved to `builds/browser.ts` after generating the client }}

import type { Host, Requester } from '@algolia/client-common';
import { XhrRequester } from '@algolia/requester-browser-xhr';

import { create{{capitalizedApiName}}Api } from '../src/{{apiName}}Api';
import type { {{capitalizedApiName}}Api } from '../src/{{apiName}}Api';

{{#hasRegionalHost}}
import type { Region } from '../src/{{apiName}}Api';
{{/hasRegionalHost}}

export * from '../src/{{apiName}}Api';

// eslint-disable-next-line @typescript-eslint/explicit-function-return-type
export function {{apiName}}Api(
  appId: string,
  apiKey: string,{{#hasRegionalHost}}region{{#fallbackToAliasHost}}?{{/fallbackToAliasHost}}: Region,{{/hasRegionalHost}}
  options?: { requester?: Requester; hosts?: Host[] }
): {{capitalizedApiName}}Api {
  if (!appId) {
    throw new Error("`appId` is missing.");
  }

  if (!apiKey) {
    throw new Error("`apiKey` is missing.");
  }

  {{#hasRegionalHost}}
  {{^fallbackToAliasHost}}
  if (!region) {
    throw new Error("`region` is missing.");
  }
  {{/fallbackToAliasHost}}
  {{/hasRegionalHost}}

  return create{{capitalizedApiName}}Api({
    appId,
    apiKey,{{#hasRegionalHost}}region,{{/hasRegionalHost}}
    timeouts: {
      connect: 1,
      read: 2,
      write: 30,
    },
    requester: options?.requester ?? new XhrRequester(),
    userAgents: [{ segment: 'Browser' }],
    authMode: 'WithinQueryParameters',
    ...options,
  });
}
