{
  "name": "{{packageName}}",
  "version": "{{packageVersion}}",
  "description": "JavaScript client for {{packageName}}",
  "repository": "{{gitUserId}}/{{gitRepoId}}",
  "license": "MIT",
  "author": "Algolia",
  "main": "index.js",
  "jsdelivr": "dist/{{buildFile}}.umd.browser.js",
  "unpkg": "dist/{{buildFile}}.umd.browser.js",
  "module": "dist/{{buildFile}}.esm.node.js",
  "browser": "dist/{{buildFile}}.cjs.browser.js",
  "types": "index.d.ts",
  "files": [
    "dist",
    "model",
    "index.js",
    "index.d.ts"
  ],
  "scripts": {
    "clean": "rm -rf ./dist"
  },
  "dependencies": {
    "@experimental-api-clients-automation/client-common": "{{utilsPackageVersion}}",
    "@experimental-api-clients-automation/requester-browser-xhr": "{{utilsPackageVersion}}",
    "@experimental-api-clients-automation/requester-node-http": "{{utilsPackageVersion}}"
  },
  "devDependencies": {
    "@types/node": "16.11.26",
    "typescript": "4.6.3"
  },
  "engines": {
    "node": ">= 14.0.0"
  }
}
