{
  "name": "{{packageName}}",
  "version": "{{packageVersion}}",
  "description": "JavaScript client for {{packageName}}",
  "repository": "{{gitUserId}}/{{gitRepoId}}",
  "author": "Algolia",
  "private": true,
  "license": "MIT",
  "main": "index.js",
  "module": "dist/{{buildFile}}.esm.node.js",
  "types": "index.d.ts",
  "jsdelivr": "dist/{{buildFile}}.umd.browser.js",
  "unpkg": "dist/{{buildFile}}.umd.browser.js",
  "browser": "dist/{{buildFile}}.cjs.browser.js",
  "scripts": {
    "clean": "rm -rf ./dist"
  },
  "engines": {
    "node": "^14.0.0"
  },
  "dependencies": {
    "@algolia/client-common": "5.0.0",
    "@algolia/requester-browser-xhr": "5.0.0",
    "@algolia/requester-node-http": "5.0.0"
  },
  "devDependencies": {
    "@types/node": "16.11.11",
    "typescript": "4.5.4"
  }{{#npmRepository}},
  "publishConfig": {
    "registry": "{{npmRepository}}"
  }{{/npmRepository}}
}
