<?php
{{#models}}
{{#model}}

namespace {{modelPackage}};
{{^isEnum}}
{{^parentSchema}}

{{/parentSchema}}
{{/isEnum}}
use \{{invokerPackage}}\ObjectSerializer;

/**
 * {{classname}} Class Doc Comment
 *
 * @category Class
{{#description}}
 * @description {{.}}
{{/description}}
 * @package {{invokerPackage}}
 */
{{#isEnum}}{{>model_enum}}{{/isEnum}}{{^isEnum}}{{>model_generic}}{{/isEnum}}
{{/model}}{{/models}}
