<?php
{{#models}}
{{#model}}

namespace {{modelPackage}};
{{^isEnum}}
{{^parentSchema}}

use \ArrayAccess;
{{/parentSchema}}
{{/isEnum}}
use \{{invokerPackage}}\ObjectSerializer;

/**
 * {{classname}} Class Doc Comment
 *
 * @category Class
{{#description}}
 * @description {{.}}
{{/description}}
 * @package  {{invokerPackage}}
{{^isEnum}}
 * @implements \ArrayAccess<TKey, TValue>
 * @template TKey int|null
 * @template TValue mixed|null
{{/isEnum}}
 */
{{#isEnum}}{{>model_enum}}{{/isEnum}}{{^isEnum}}{{>model_generic}}{{/isEnum}}
{{/model}}{{/models}}
