<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="CTS">
            <directory suffix="Test.php">../../tests/output/php/src/</directory>
        </testsuite>
    </testsuites>
</phpunit>
