package com.algolia.methods.requests;

import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertDoesNotThrow;

import java.util.*;

import org.junit.jupiter.api.DisplayName;
import org.junit.jupiter.api.Test;
import org.junit.jupiter.api.TestInstance;
import org.junit.jupiter.api.BeforeAll;
import com.google.gson.reflect.TypeToken;

import com.algolia.JSON;
import com.algolia.Pair;
import com.algolia.model.*;
import com.algolia.search.{{client}};
import com.algolia.utils.echo.*;
import org.skyscreamer.jsonassert.JSONAssert;
import org.skyscreamer.jsonassert.JSONCompareMode;

@TestInstance(TestInstance.Lifecycle.PER_CLASS)
class {{client}}Tests {
    private {{client}} client;
    private JSON json;

    @BeforeAll
    void init() {
        client = new {{client}}("appId", "apiKey", new EchoRequester());
        json = new JSON();
    }

    {{#blocks}}
    {{#tests}}
    @Test
    @DisplayName("{{testName}}")
    void {{method}}Test{{testIndex}}() {
        {{#parametersWithDataType}}{{> generateParams}}{{/parametersWithDataType}}

        EchoResponseInterface req = (EchoResponseInterface) assertDoesNotThrow(() -> {
            return client.{{method}}({{#parametersWithDataType}}{{{key}}}{{suffix}}{{^-last}},{{/-last}}{{/parametersWithDataType}});
        });

        assertEquals(req.getPath(), "{{{request.path}}}");
        assertEquals(req.getMethod(), "{{{request.method}}}");

        {{#request.data}}
        assertDoesNotThrow(() -> {
            JSONAssert.assertEquals("{{#escapeQuotes}}{{{request.data}}}{{/escapeQuotes}}", req.getBody(), JSONCompareMode.STRICT_ORDER);
        });
        {{/request.data}}

        {{#request.searchParams}}
        HashMap<String, String> expectedQuery = json.deserialize("{{#escapeQuotes}}{{{request.searchParams}}}{{/escapeQuotes}}", new TypeToken<HashMap<String, String>>() {}.getType());
        List<Pair> acutalQuery = req.getQueryParams();
        for (Pair p : acutalQuery) {
            assertEquals(expectedQuery.get(p.getName()), p.getValue());
        }
        {{/request.searchParams}}
    }
    {{/tests}}
    {{/blocks}}
}
