import com.algolia.utils.CompoundType;
import com.algolia.JSON;

import com.google.gson.TypeAdapter;
import com.google.gson.reflect.TypeToken;
import com.google.gson.annotations.JsonAdapter;
import com.google.gson.stream.JsonReader;
import com.google.gson.stream.JsonWriter;
import java.io.IOException;

@JsonAdapter({{classname}}.Adapter.class)
{{>additionalModelTypeAnnotations}}
public abstract class {{classname}} implements CompoundType {
    {{#vendorExtensions.x-is-one-of-list}}
    public static {{classname}} of{{name}}({{{type}}} inside) {
        return new {{classname}}{{name}}(inside);
    }

    {{/vendorExtensions.x-is-one-of-list}}
    public abstract Object getInsideValue();

    public static class Adapter extends TypeAdapter<{{classname}}> {
        @Override
        public void write(
            final JsonWriter out,
            final {{classname}} oneOf) throws IOException {
        TypeAdapter runtimeTypeAdapter = (TypeAdapter) JSON.getGson()
            .getAdapter(TypeToken.get(oneOf.getInsideValue().getClass()));
        runtimeTypeAdapter.write(out, oneOf.getInsideValue());
        }

        @Override
        public {{classname}} read(final JsonReader jsonReader)
            throws IOException {
        return null;
        }
    }
}

{{#vendorExtensions.x-is-one-of-list}}
@JsonAdapter({{classname}}.Adapter.class)
class {{classname}}{{name}} extends {{classname}} {
    private final {{{type}}} insideValue;

    {{classname}}{{name}}({{{type}}} insideValue) {
        this.insideValue = insideValue;
    }

    @Override
    public {{{type}}} getInsideValue() {
        return insideValue;
    }
}
{{/vendorExtensions.x-is-one-of-list}}
