{{#length}}
  expect({{> testSubject}}).toHaveLength({{length}});
{{/length}}

{{#match}}
  {{#objectContaining}}
    expect({{> testSubject}}).toEqual(expect.objectContaining({{{objectContaining}}}));
  {{/objectContaining}}

  {{#regexp}}
    expect({{> testSubject}}).toMatch({{{regexp}}});
  {{/regexp}}
{{/match}}