{{#isCreateClient}}
    const $client = {{> createClient}}
    actual = $client;
{{/isCreateClient}}

{{#isVariable}}
    actual = {{> variable}}
{{/isVariable}}

{{#isMethod}}
    actual = {{> method}}
{{/isMethod}}