/* eslint-disable @typescript-eslint/no-unused-vars */
/* eslint-disable require-await */
/* eslint-disable @typescript-eslint/explicit-function-return-type */
/* eslint-disable prefer-const */
// @ts-nocheck Failing tests will have type errors, but we cannot suppress them even with @ts-expect-error because it doesn't work for a block of lines.
import { {{client}} } from '{{{import}}}';
import { echoRequester } from '@experimental-api-clients-automation/requester-node-http';

const appId = 'test-app-id';
const apiKey = 'test-api-key';

// eslint-disable-next-line @typescript-eslint/explicit-function-return-type
function createClient() {
  return {{client}}(appId, apiKey, {{#hasRegionalHost}}'us', {{/hasRegionalHost}}{ requester: echoRequester() });
}

{{#blocks}}
describe('{{operationId}}', () => {
    {{#tests}}
    test('{{{testName}}}', async () => {
        let $client;
        {{#autoCreateClient}}
            $client = createClient();
        {{/autoCreateClient}}

        let actual;
        {{#steps}}
            {{#expectedError}}
                await expect(new Promise((resolve, reject) => {
                    {{> step}}
                    if (actual instanceof Promise) {
                        actual.then(resolve).catch(reject);
                    } else {
                        resolve();
                    }
                })).rejects.toThrow("{{{expectedError}}}")
            {{/expectedError}}

            {{^expectedError}}
                {{#expectedNoError}}
                    await expect(new Promise((resolve, reject) => {
                        {{> step}}
                        if (actual instanceof Promise) {
                            actual.then(resolve).catch(reject);
                        } else {
                            resolve();
                        }
                    })).resolves.not.toThrow();
                {{/expectedNoError}}
                
                {{^expectedNoError}}
                    {{> step}}

                    if (actual instanceof Promise) {
                        actual = await actual;
                    }

                    {{#expected}}
                        {{> expected}}
                    {{/expected}}
                {{/expectedNoError}}
            {{/expectedError}}
        {{/steps}}
    });

    {{/tests}}
})

{{/blocks}}
