import { {{client}} } from '{{{import}}}';
import { echoRequester } from '@algolia/requester-node-http';
import type { EchoResponse } from '@algolia/client-common';

const appId = process.env.ALGOLIA_APPLICATION_ID || 'test_app_id';
const apiKey = process.env.ALGOLIA_SEARCH_KEY || 'test_api_key';

const client = {{client}}(appId, apiKey, {{#hasRegionalHost}}'us', {{/hasRegionalHost}}{ requester: echoRequester() });

{{#blocks}}
describe('{{operationId}}', () => {
  {{#tests}}
  test('{{testName}}', async () => {
    const req = (await client.{{method}}({{#hasParameters}}{{{parameters}}}{{/hasParameters}})) as unknown as EchoResponse;

    expect(req.path).toEqual('{{{request.path}}}');
    expect(req.method).toEqual('{{{request.method}}}');
    expect(req.data).toEqual({{#request.data}}{{{request.data}}}{{/request.data}}{{^request.data}}undefined{{/request.data}});
    expect(req.searchParams).toEqual({{#request.searchParams}}{{{request.searchParams}}}{{/request.searchParams}}{{^request.searchParams}}undefined{{/request.searchParams}});
  });

  {{/tests}}
})

{{/blocks}}
