<!doctype html>
<html ng-app="myapp">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="//cdn.jsdelivr.net/angularjs/1/angular.min.js"></script>
    <script src="//cdn.jsdelivr.net/angularjs/1/angular-sanitize.min.js"></script>
    <script src="/dist/algoliasearch.angular.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body ng-controller="SearchCtrl">

    <section class="panel">
      <header class="panel-heading">
        <div class="search_box">
          <form action="#" method="get">
            <input autocomplete="off" class="autocomplete" placeholder="Start typing" type="text" spellcheck="false" id="q" ng-model="algolia.query" />
            <div class="searchbutton">
              <i class="icon-search icon-large"></i>
            </div>
          </form>
        </div>
      </header>
    </section>

    <h1>Results</h1>
    <div class="hit" ng-repeat="hit in algolia.hits">
      <div class="attribute" ng-repeat="(attribute,v) in hit._highlightResult">
        <span>{{ attribute }}: </span>
        <span ng-bind-html="v.value"></span>
      </div>
    </div>

    <script type="text/javascript">
    
      angular
        .module('myapp', ['algoliasearch', 'ngSanitize'])
        .controller('SearchCtrl', ['$scope', 'algolia', function($scope, algolia) {

          // Replace the following values by your ApplicationID and ApiKey.
          var client = algolia.Client('APPLICATION_ID', 'API_KEY');
          
          // Replace the following value by the name of the index you want to query.
          var index = client.initIndex('INDEX');

          $scope.algolia = {
            'query' : '',
            'hits' : []
          };
          
          $scope.$watch('algolia.query', function() {
            index.search($scope.algolia.query)
              .then(function searchSuccess(content) {
                console.log(content);
                // add content of search results to scope for display in view
                $scope.algolia.hits = content.hits;
              }, function searchFailure(err) {
                console.log(err);
            });
          });
        }]);
        
    </script>
  </body>
</html>
