import { {{client}}, EchoRequester } from '{{{import}}}';

const appId = process.env.ALGOLIA_APPLICATION_ID || 'test_app_id';
const apiKey = process.env.ALGOLIA_SEARCH_KEY || 'test_api_key';

const client = new {{client}}(appId, apiKey, { requester: new EchoRequester() });

{{#blocks}}
describe('{{operationId}}', () => {
    {{#tests}}
    test('{{testName}}', async () => {
        const req = await client.{{method}}({{{parameters}}});
        expect(req).toMatchObject({
        path: '{{{request.path}}}',
        method: '{{{request.method}}}',
        {{#request.data}}data: {{{.}}},{{/request.data}}
        })
    });

    {{/tests}}
})

{{/blocks}}
