import { {{client}}, EchoRequester } from '{{{import}}}';

const appId = process.env.ALGOLIA_APPLICATION_ID || 'test_app_id';
const apiKey = process.env.ALGOLIA_SEARCH_KEY || 'test_api_key';

const client = new {{client}}(appId, apiKey, {{#hasRegionalHost}}'de', {{/hasRegionalHost}}{ requester: new EchoRequester() });

{{#blocks}}
describe('{{operationId}}', () => {
    {{#tests}}
    test('{{testName}}', async () => {
        const req = await client.{{method}}(
          {{#hasParameters}}{{{parameters}}}{{/hasParameters}}
        );

        expect((req as any).path).toEqual('{{{request.path}}}');
        expect((req as any).method).toEqual('{{{request.method}}}');
        expect((req as any).data).toEqual({{#request.data}}{{{request.data}}}{{/request.data}}{{^request.data}}undefined{{/request.data}});
        expect((req as any).searchParams).toEqual({{#request.searchParams}}{{{request.searchParams}}}{{/request.searchParams}}{{^request.searchParams}}undefined{{/request.searchParams}});
    });

    {{/tests}}
})

{{/blocks}}
