name: Release packages

on:
  push:
    branches:
      - next

jobs:
  release:
    name: Publish
    runs-on: ubuntu-22.04
    if: "startsWith(github.event.head_commit.message, 'chore: release')"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: yarn

      - name: Install JavaScript dependencies
        shell: bash
        run: yarn install

      - name: Build clients
        shell: bash
        run: yarn build:all

      - name: Publish to NPM
        shell: bash
        run: yarn release:publish
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
